/*BODY*/

/*Подключаем шрифты*/
@font-face {
    font-family: open-sans-reg;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans-bold;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: open-sans-reg, sans-serif;
    font-size: 15px;
    line-height: 1.2;
}

/*Сбрасываем дефолтные настройки браузера*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
/*Стилизуем фон для хедера*/
.header {
    background-image: url('../images/banner-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    padding: 30px 0 210px;
}

@media (min-width: 768px) {
    .header {
        background-image: url('../images/banner-bg-tablet.jpg');
        padding: 43px 0 112px;
    }
}

@media (min-width: 1660px) {
    .header {
        background-image: url('../images/banner-bg.jpg');
        padding: 25px 0 130px;
    }
}

.header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
}

.header-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .header-container {
        padding: 0 35px;
    }
}

@media (min-width: 1660px) {
    .header-container {
        max-width: 1200px;
        padding: 0 15px;
    }
}

.logo-img {
    max-width: 270px;
    margin: 170px auto 0;
    width: 100%;
}

@media (min-width: 768px) {

    .logo-img {
        width: 158px;
        max-width: none;
        padding-top: 0;
        margin: 0 auto;
    }
}

@media (min-width: 1660px) {
    .logo-img {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}

.logo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .logo-menu {
        justify-content: space-between;
        flex-direction: row;
    }
}

.menu-list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.menu-list-item:nth-of-type(n+2) {
    margin-left: 35px;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: open-sans-reg, sans-serif;
}

.menu-link:hover {
    border-bottom: 2px solid #ffffff;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 24px;
    cursor: pointer;
}

.hamburger-container {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        margin-left: auto;
    }

    .hamburger-container {
        width: 100%;
        display: block;
    }
}

@media (max-width: 767px) {
    .logo-link {
        order: 2;
    }
}

.hamburger span {
    background: #fff;
    border-radius: 10px;
    height: 2px;
    margin: 3px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger span:nth-of-type(1){
    width: 50%;
}

.hamburger span:nth-of-type(2){
    width: 100%;
}

.hamburger span:nth-of-type(3){
    width: 75%;
}


.hamburger input[type="checkbox"]{
    display: none;
}


.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin: bottom;
    transform: rotatez(45deg) translate(3px,1px);
}


.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin: top;
    transform: rotatez(-45deg)
}


.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin: bottom;
    width: 50%;
    transform: translate(10px,-4px) rotatez(45deg);
}



.header-title {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-family: open-sans-bold, sans-serif;
    font-size: 26px;
    line-height: 1.4;
    margin: 30px auto 0;
    max-width: 705px;
}

@media (min-width: 768px) {
    .header-title {
        font-size: 40px;
        margin: 85px auto 0;
        max-width: 620px;
    }
}

@media (min-width: 1660px) {
    .header-title {
        font-size: 45px;
        line-height: 1.6;
        margin: 105px auto 0;
        max-width: 705px;
    }
}



/*TRENDS*/
.trends-section {
    margin: 0 auto;
}

.trends-section-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 768px) {
    .trends-section-articles {
        flex-direction: row;
    }
}

.trends-head,
.shop-head {
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
    font-size: 16px;
    margin: 42px auto 24px;
}

@media (min-width: 768px) {
    .trends-head,
    .shop-head {
        font-size: 18px;
        margin: 48px auto 18px;
    }
}

@media (min-width: 1660px) {
    .trends-head,
    .shop-head {
        font-size: 20px;
        margin: 60px auto 25px;
    }
}

.trends-head::after,
.shop-head::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 18px;
    width: 65px;
    height: 3px;
    background: #e1d9bd;
}

@media (min-width: 768px) {
    .trends-head::after,
    .shop-head::after {
        margin: 10px auto 18px;
    }
}

@media (min-width: 1660px) {
    .trends-head::after,
    .shop-head::after {
        margin: 10px auto 25px;
    }
}

.trend-article {
    width: 100%;
    min-height: 15.5em;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (min-width: 768px) {
    .trend-article {
        width: calc(99.5%/2);
        margin-bottom: 4px;
        min-height: 16.5em;
    }
}

@media (min-width: 1660px) {
    .trend-article {
        width: calc(99%/4);
        margin-bottom: 0;
        min-height: 21.5em;
    }
}

.trend-article::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
}

.trend-article-1 {
    background-image: url("../images/trend1.jpg");
}
.trend-article-2 {
    background-image: url("../images/trend2.jpg");
}
.trend-article-3 {
    background-image: url("../images/trend3.jpg");
}
.trend-article-4 {
    background-image: url("../images/trend4.jpg");
}

.trend-article-1, .trend-article-2, .trend-article-3, .trend-article-4 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
}

.trend-content {
    margin: 15px 20px;
    padding: 28px 16px;
    border: 3px solid #7c703c;
}

@media (min-width: 768px) {
    .trend-content {
        padding: 32px;
    }
}

@media (min-width: 1660px) {
    .trend-content {
        padding: 34px 32px;
    }
}

.trend-title a {
    text-decoration: none;
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .trend-title a {
        font-size: 17px;
    }
}

@media (min-width: 1660px) {
    .trend-title a {
        font-size: 20px;
    }
}

/*PAGE*/

.page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 15px;
    margin: 45px auto 0;
    width: 100%;
}

@media (min-width: 768px) {
    .page{
        padding: 0 35px;
        margin: 45px auto 0;
        flex-direction: row;
    }
}

@media (min-width: 1660px) {
    .page {
        max-width: 1200px;
        padding: 0 15px;
        margin: 60px auto 0;
    }
}

/*PAGE->MAIN*/

.main {
    width: 100%;
    margin: 0 auto 22px;
}

@media (min-width: 768px) {
    .main {
        max-width: none;
        width: 56%;
        margin: 0;
    }
}

@media (min-width: 1660px) {
    .main {
        width: 780px;
    }
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.posts:after {
    content: "";
    display: block;
    position: relative;
    margin: 18px auto 0;
    width: 100%;
    height: 3px;
    background: #eeeeee;
}

.posts:last-child:after {
    display: none;
}

.posts:nth-of-type(n+2) {
    margin-top: 36px;
}

@media (min-width: 768px) {
    .posts {
        flex-direction: column;
    }

    .posts:after {
        margin: 18px auto 0;
    }

    .posts:nth-of-type(n+2) {
        margin-top: 42px;
    }
}

@media (min-width: 1660px) {
    .posts {
        flex-direction: row;
    }

    .posts:after {
        display: none;
    }

    .posts:nth-of-type(n+2) {
        margin-top: 60px;
    }
}

.posts-preview {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .posts-preview {
        margin-bottom: 10px;
    }
}

@media (min-width: 1660px) {
    .posts-preview {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .posts-img {
        max-width: 392px;
        width: 100%;
    }
}

@media (min-width: 1660px) {
    .posts-info {
        margin-left: 30px;
    }
}

.posts-tags {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: 7px;
}

.post-tags-item {
    margin-right: 18px;
}

.post-tags-item:last-child {
    margin-right: 0;
}

.post-tags-link {
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: open-sans-bold, sans-serif;
}

.post-tags-link:hover {
    border-bottom: 2px solid #e1d9bd;
}

.posts-title {
    margin: 5px 0 17px;
    line-height: 0.9;
}

.posts-title a {
    text-decoration: none;
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1;
    color: #0f0d0e;
}

.posts-title a:hover {
    border-bottom: 2px solid #e1d9bd;
}

.post-date {
    font-size: 12px;
    color: #888888;
}

.post-author {
    font-family: open-sans-bold, sans-serif;
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
}

.post-text {
    font-size: 14px;
    line-height: 1.5;
    color: #0f0d0e;
    margin-top: 13px;
}

@media (min-width: 768px) {
    .posts-title {
        margin: 5px 0 28px;
        line-height: 1;
    }

    .posts-title a {
        font-size: 17px;
        line-height: 1.2;
    }

    .post-text {
        margin-top: 28px;
        font-size: 15px;
    }
}

@media (min-width: 1660px) {
    .posts-title {
        margin: 5px 0 25px;
    }

    .posts-title a {
        font-size: 20px;
    }

    .post-text {
        margin-top: 50px;
    }
}

/*PAGE->ASIDE*/

.aside {
    width: 100%;
    margin-top: 42px;
}

.aside-section {
    margin: 0 auto 42px;
}

.aside-section:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .aside {
        width: 39%;
        margin-top: 0;
    }

    .aside-section {
        margin-top: 0;
        margin-bottom: 58px;
    }
}

@media (min-width: 1660px) {
    .aside {
        width: 270px;
    }
}

.aside-head {
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #0f0d0e;
    text-align: center;
}

.aside-head::after {
    content: "";
    display: block;
    position: relative;
    margin: 8px auto 28px;
    width: 65px;
    height: 3px;
    background: #e1d9bd;
}

@media (min-width: 768px) {
    .aside-head {
        font-size: 14px;
    }

    .aside-head::after {
        margin: 10px auto 30px;
    }
}

@media (min-width: 1660px) {
    .aside-head::after {
        margin: 10px auto 25px;
    }
}

/*PAGE->ASIDE->NEW POSTS*/

.new-posts {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 19px;
}

@media (max-width: 767px) {
    .new-posts:last-child {
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) {
    .new-posts {
        margin-bottom: 19px;
    }
}

@media (min-width: 1660px) {
    .new-posts {
        margin-bottom: 20px;
    }
}

.new-posts-img {
    width: 70px;
    background-color: #ffffff;
}

.new-posts-content {
    margin-left: 18px;
    margin-top: 0;
}

.new-post-date {
    font-size: 12px;
    color: #000000;
    opacity: 0.54;
    line-height: 1;
    margin-bottom: 3px;
    vertical-align: top;
}

.new-post-title a {
    text-decoration: none;
    color: #000000;
}

.new-post-title a:hover {
    border-bottom: 2px solid #e1d9bd;
}

.new-post-title {
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
}

/*PAGE->ASIDE->SEARCH*/

.search-form {
    display: flex;
    width: 100%;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search-field {
    box-sizing: border-box;
    padding: 0 18px;
    width: 100%;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
}

@media (min-width: 768px) {
    .search-field {
        width: 222px;
    }
}

@media (max-width: 767px) {
    .search-group {
        width: 100%;
    }
}

.search-button {
    border: none;
    width: 47px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
}

@media (max-width: 767px) {
    .search-button {
        width: 55px;
    }
}

/*PAGE->ASIDE->SUBSCRIPTION*/

.subscription-field {
    box-sizing: border-box;
    padding: 0 18px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
}

.subscription-button {
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color: #b59f5b;
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

/*PAGE->ASIDE->TAGS*/

.tags-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .tags-list {
        margin-bottom: -5px;
    }
}

.tags-list-item {
    margin: 5px 3px;
}

.tags-list-link {
    display: block;
    height: 30px;
    text-decoration: none;
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 5px 11px;
}

.tags-list-link:hover {
    border: 3px solid #e1d9bd;
}

/*PAGE->ASIDE->TOPICS*/

.topics-list {
    list-style-type: none;
}

.topics-list-item {
    margin-top: 14px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 14px;
}

.topics-list-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: open-sans-bold, sans-serif;
    color: #000000;
    font-size: 14px;
    margin-right: 2px;
}

@media (min-width: 768px) {
    .tags-list-item {
        margin: 4px 3px;
    }

    .tags-list-link {
        display: block;
        height: 30px;
    }

    .topics-list-item {
        margin-top: 14px;
    }

    .topics-list-link {
        margin-right: 2px;
    }

}

@media (min-width: 1660px) {
    .tags-list-item {
        margin: 5px 3px;
    }

    .tags-list-link {
        height: 29px;
    }

    .topics-list-item {
        margin-top: 15px;
    }

    .topics-list-link {
        margin-right: 5px;
    }
}

.topics-list-link:hover {
    border-bottom: 2px solid #e1d9bd;
}

.topics-list-count {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: open-sans-bold, sans-serif;
    font-size: 12px;
}

/*SHOP*/

.shop-section {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .shop-section {
        padding: 0 35px;
    }
}

@media (min-width: 1660px) {
    .shop-section {
        max-width: 1200px;
        padding: 0 15px;
    }
}

.shop-section-products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product {
    max-width: 337px;
    width: 100%;
    margin-bottom: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .product {
        max-width: 337px;
        margin-bottom: 28px;
    }
}

@media (min-width: 1660px) {
    .product {
        max-width: 347px;
        margin-bottom: 0;
    }
}

.product-preview {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto -35px;
    max-width: 288px;
}

@media (min-width: 768px) {
    .product-preview {
        overflow: hidden;
        width: 290px;
        margin: 0 auto -35px;
        max-width: 292px;
    }
}

@media (min-width: 1660px) {
    .product-preview {
        overflow: auto;
        width: auto;
        margin: 0 auto -35px;
        max-width: 300px;
    }
}

.product-info {
    border: 3px solid #b59f5b;
    padding: 44px 20px 25px;
    position: relative;
    text-align: left;
    height: 100%;
}

@media (min-width: 768px) {
    .product-info {
        padding: 44px 20px 25px;
    }
}

@media (min-width: 1660px) {
    .product-info {
        padding: 47px 20px 25px;
    }

}

.product-title a {
    font-family: open-sans-bold, sans-serif;
    font-size: 17px;
    line-height: 1.2;
    text-decoration: none;
    color: #0f0d0e;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .product-title a {
        font-size: 20px;
    }
}

.product-description {
    font-size: 15px;
    line-height: 1.5;
    color: #0f0d0e;
    margin-top: 3px;
}

.product-description a {
   color: #b59f5b;
    text-decoration: none;
}

.product-description a:hover {
    text-decoration: underline;
}

.buy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 22px;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: column;
}

.price-new {
    font-family: open-sans-bold, sans-serif;
    font-size: 20px;
}

.price-old {
    font-family: open-sans-bold, sans-serif;
    font-size: 14px;
    text-decoration: line-through;
}

.buy-button {
    min-width: 140px;
    width: 100%;
    padding: 15px 10px;
    background: #b59f5b;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: open-sans-bold, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.buy-button:hover {
    background: #897845;
    transition: 0.2s all ease;
}

/*FOOTER*/
.footer {
    max-width: 360px;
    padding: 22px 15px 47px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 35px 0;
    }
}

@media (min-width: 1660px) {
    .footer {
        width: 1200px;
        max-width: none;
        padding: 65px 15px 45px;
    }
}

/*FOOTER->SOCIALS LINK*/

.socials {
    background-color: #f4f7f6;
    padding: 30px 0;
    margin-bottom: 48px;
}

@media (min-width: 768px) {
    .socials {
       margin-bottom: 48px;
    }
}

@media (min-width: 1660px) {
    .socials {
        margin-bottom: 75px;
    }
}

.socials-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.socials-link {
    width: 20px;
    margin-right: 28px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    display: block;
}

.socials-link:hover {
    border: 3px solid #e1d9bd;
}

.socials-link-twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}

.socials-link-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.socials-link-facebook {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}

.socials-link-instagram {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.socials-link-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

/*FOOTER->COPYRIGHT*/

.copyright {
    text-decoration: none;
    color: #999999;
    font-family: open-sans-bold, sans-serif;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 768px) {
    .copyright p {
        margin-bottom: 35px;
    }
}

@media (min-width: 1660px) {
    .copyright p {
        margin-bottom: 0;
    }
}

/*POPUP*/

.popup {
    width: 100%;
    position: fixed;
    height: 100vh;
    background: rgba(15, 13, 14, 0.66);
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    font-family: open-sans-reg, sans-serif;
}

.popup.hidden {
    display: none;
}

.popup-container {
    max-width: 330px;
    margin: 0 auto;
    background: #fff;
    padding: 28px 25px;
    position: relative;
}

.popup-close-button {
    position: absolute;
    top: -32px;
    width: 26px;
    right: 0;
    background: transparent;
    border: none;
    outline: 0;
}

.popup-title {
    font-family: open-sans-bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #0f0d0e;
    text-align: center;
    font-weight: bold;
}

.popup-title::after {
    content: "";
    display: block;
    position: relative;
    margin: 8px auto 28px;
    width: 65px;
    height: 3px;
    background: #e1d9bd;
}

.popup-form-item {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.popup-form-item-label {
    font-size: 13px;
    margin-bottom: 10px;
 }


.popup-form-select {
    padding: 15px;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 10px !important;
    border: none;
    background: #f3f7f6 url("../svg/form-arrows.svg") no-repeat 256px center;
}

.popup-form-story {
    border: none;
    background: #f3f7f6;
    font-size: 14px;
    padding: 18px 25px;
    outline: none;
    -moz-appearance: none;
    resize: none;
    overflow: auto;
}

.popup-form-button {
    width: 100%;
    border: none;
    background-color: #b59f5b;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-family: open-sans-bold, sans-serif;
    padding: 16px 0;
}

.popup-form-radio[type=radio] {
    display: none;
}

.popup-form-radio-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 30px;
    line-height: 18px;
    user-select: none;
    font-size: 13px;
    margin-top: 5px;
    height: 22px;
}

.popup-form-radio-label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover !important;
    left: 0;
    bottom: 1px;
    background: url("../svg/form-empty-circle.svg") 0 0 no-repeat;
}

.popup-form-radio[type=radio]:checked + label:before {
    background: url("../svg/form-circle.svg") 0 0 no-repeat;
}

@media (min-width: 768px) {
    .popup-container {
        max-width: 390px;
        padding: 50px 30px;
    }

    .popup-title {
        font-size: 20px;
    }

    .popup-close-button {
        top: -26px;
        width: 18px;
    }

    .popup-form-button {
        margin-top: 0;
    }

    .popup-form-radio-label {
        padding-left: 22px;
        margin-right: 10px;
        height: 18px;
    }

    .popup-form-radio-label:before {
        width: 17px;
        height: 17px;
    }

    .popup-form-select {
        background-position: 305px center;
    }
}